*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background: #10102D !important;
  ::-webkit-scrollbar {
    width: 0px;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #fff;
  }
  ::-webkit-scrollbar-thumb {
    background: #ff1d58;
    border-radius: 10px;
  }
}

.css-19kzrtu{
  padding: 0;
}